@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --price-text-color: green;
    --discount-text-color: red;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
}

h2, h3 {
    text-align: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.header {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-logo {
    width: 90px;
    height: 90px;
    margin-left: 5px;
}

input {
    text-align: center;
    padding: 10px 250px;
    margin: 20px;
    border: 1px solid black;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: blue;
}

/* secci칩n que engloba todo el container de producto */
.product-section-container {
    display: flex;
    flex-direction: column;
}

/* dos filas de productos una abajo de la otra */
.product-container-row-1, .product-container-row-2 {
    width: 100%;
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* estilo para cada producto */
.product {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 15px;
    margin: 5px 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 10px;
}

.product:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.product-image {
    width: 250px;
    height: 250px;
}

.product-price {
    color: var(--price-text-color);
}

/* secci칩n que envuelve los metodos de pago */
.payment-section-container {
    background-color: #D7E2EE;
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

/* div contenedor de los items - metodos de pago */
.payment-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 15px 0;
}

/* info de forma de pago, entrega a domicilio y devoluciones */
.payment-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* secci칩n que envuelve todas las redes sociales */
.social-networks-section-container {
    display: flex;
}

/* estilos para el div de redes sociales y el div "visitarnos" */
.social-networks-container, .visit-us-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 10px;
}
/* div que envuelve los items de redes sociales */
.social-networks-container-col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
/* div de cada item para redes sociales */
.social-networks-item {
    display: flex;
    align-items: center;
}

.instagram-item, .facebook-item, .twitter-item {
    margin-left: 5px;
}

img {
    width: 100%;
}
/* se define el tama침o para cada imagen de cada seccion */
.img-credit-card, .img-delivery, .img-purchase-return,
.img-instagram-logo, .img-facebook-logo, .img-twitter-logo {
    height: 60px;
    width: 60px;
}

.visit-us-container-map {
    margin-bottom: 5px;
}

h2, footer, .footer-text {
    text-align: center;
}

footer {
    padding: 20px;
    background-color: black;
}

.footer-text {
    color: white;
}