@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

/* esconder scroll para testear pantallas pequeñas*/
/* ::-webkit-scrollbar {
    display: none;
} */ 

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; 
}

:root {
    --price-text-color: green;
    --discount-text-color: lightblue;
    --bg-primary-color: #0099ff;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}


/* index - page */
/* header */
.nav-link::after {
    content: '';
    height: 2px;
    width: 0%;
    background-color: dimgrey;
    display: block;
    transition: .5s ease-in-out;
}

.nav-link:hover::after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: dimgrey;
    display: block;
}

.adjust-the-content {
    display: flex;
    justify-content: flex-end;
}
/*   *** ***   */

/* section products */
.card {
    width: 18rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    margin: 8px auto;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.special-card {
    background-color: rgba(245, 245, 245, 1);
    opacity: .4;
    pointer-events: none;
}

.out-of-stock {
    color: red;
}

.service-item-img {
    height: 60px;
    width: 60px;
}

/* featured product */
.waves-p-d {
    background-image: url(../wave.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-background-color {
    background-color: var(--bg-primary-color);
}

.service-item {
    color: white;
}

.circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
}

/* footer */
.icon-item {
    color: white;
    transition: 0.5s;
}

.icon-item:hover {
    transform: scale(2);
}

.item-instagram:hover {
    color: lightpink;
}

.item-facebook:hover {
    color: blue;
}

.item-twitter:hover {
    color: lightblue;
}

.item-i {
    color: #6c757d;
    transition: 0.5s;
}

.item-i:hover {
    color: white;
}

/* lo nuevo page */
.grid-section-container-ln-page {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-container-ln-page {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(3, 200px);
    grid-gap: 10px;
    grid-template-areas:
        'product-1 product-2 product-3 product-4'
        'product-1 product-5 product-6 product-7'
        'product-8 product-9 product-10 product-7';
}

.grid-item-ln-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.grid-item-ln-page:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transform: translate(0px, 5px);
}

.img-product {
    width: 150px;
    height: 150px;
}

.grid-p {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item-price {
    color: var(--price-text-color);
}

/* grid areas */
.wide-first-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: product-1;
}

.second-item {
    grid-area: product-2;
}

.third-item {
    grid-area: product-3;
}

.fourth-item {
    grid-area: product-4;
}

.fifth-item {
    grid-area: product-5;
}

.sixth-item {
    grid-area: product-6;
}

.wide-second-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: product-7;
}

.eighth-item {
    grid-area: product-8;
}

.nineth-item {
    grid-area: product-9;
}

.tenth-item {
    grid-area: product-10;
}

/* fin grid areas */

.shopping-discount {
    width: 35%;
    align-self: flex-start;
    padding: 2px 2px;
    margin-left: 3px;
    margin-bottom: 5px;
    color: white;
    background-color: var(--discount-text-color);
    text-align: center;
}

.img-product-ln-page {
    margin: 10px 0;
    width: 250px;
    height: 350px;
}

/* contacto */
.form-row {
    width: 450px;
}

/* mi cuenta */
.ma-card {
    pointer-events: none;
}

.img-user {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.img-payment-method {
    width: 60px;
    height: 60px;
}

.card-payment-img {
    width: 100%;
    height: 80px;
}

@media screen and (max-width: 480px) {

    /* header */
    .adjust-the-content {
        display: flex;
        justify-content: center;
    }
    /* fin header */

    /* featured product */
    
    .product-order {
        color: white;
    }
    
    .product-description {
        color: white;
    }

    /* footer */
    .margin-menu-text {
        margin-top: 10px;
    }
    /* ** ** */

    /* lo nuevo page */
    .grid-section-container-ln-page {
        margin-bottom: 70px;
    }

    .grid-container-ln-page {
        display: grid;
        grid-template-columns: repeat(2, 170px);
        grid-template-rows: repeat(6, 190px);
        grid-template-areas:
            'product-1 product-1'
            'product-2 product-3'
            'product-4 product-5'
            'product-6 product-8'
            'product-7 product-7'
            'product-9 product-10';
    }

    .grid-item-ln-page {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* grid areas */
    .wide-first-img {
        display: flex;
        flex-direction: row;
        grid-area: product-1
    }

    .second-item {
        grid-area: product-2;
    }

    .third-item {
        grid-area: product-3;
    }

    .fourth-item {
        grid-area: product-4;
    }

    .fifth-item {
        grid-area: product-5;
    }

    .sixth-item {
        grid-area: product-6;
    }

    .wide-second-img {
        display: flex;
        flex-direction: row;
        grid-area: product-7
    }

    .eighth-item {
        grid-area: product-8;
    }

    .nineth-item {
        grid-area: product-9;
    }

    .tenth-item {
        grid-area: product-10;
    }
    /* fin grid areas */

    .grid-item {
        pointer-events: none;
    }

    .img-product {
        width: 120px;
        height: 120px;
    }

    .grid-p {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .shopping-discount {
        width: 50%;
    }

    .img-product-ln-page {
        margin: 10px 0;
        width: 140px;
        height: 140px;
    }

    /* contacto */
    .form-row {
        width: 350px;
    }
}

@media screen and (min-width: 481px) and (max-width:988px) {

    /* header */
    .adjust-the-content {
        display: flex;
        justify-content: center;
    }

    .margin-menu-text {
        margin-top: 10px;
    }
    /* bootstrap */

    /* lo nuevo page */
    .grid-container-ln-page {
        display: grid;
        grid-template-columns: repeat(3, 250px);
        grid-template-rows: repeat(4, 250px);
        grid-template-areas:
            'product-1 product-1 product-2'
            'product-3 product-4 product-5'
            'product-6 product-8 product-7'
            'product-9 product-10 product-7';
    }

    .grid-item-ln-page {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* grid areas */
    .wide-first-img {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        grid-area: product-1;
    }

    .second-item {
        grid-area: product-2;
    }

    .third-item {
        grid-area: product-3;
    }

    .fourth-item {
        grid-area: product-4;
    }

    .fifth-item {
        grid-area: product-5;
    }

    .sixth-item {
        grid-area: product-6;
    }

    .wide-second-img {
        display: flex;
        flex-direction: column;
        grid-area: product-7;
    }

    .eighth-item {
        grid-area: product-8;
    }

    .nineth-item {
        grid-area: product-9;
    }

    .tenth-item {
        grid-area: product-10;
    }

    /* fin grid areas */

    .shopping-discount {
        width: 40%;
    }

    .img-product-ln-page {
        width: 200px;
        height: 200px;
    }
}