* {
    margin: 0;
    padding: 0;
}

:root {
    --price-text-color: green;
    --discount-text-color: red;
}

.header-container {
    display: flex;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

.header-item {
    margin: 10px 0;
    color: white;
}

.img-banner {
    width: 100%;
    height: auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-container {
    width: 90%;
    height: 100%;
    margin: 10px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 200px);
    grid-gap: 20px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.img-product {
    width: 120px;
    height: 120px;
}

.grid-p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.product-name, .product-shipping, .product-price {
    margin: 2px 0;
}

.product-price {
    color: var(--price-text-color);
}

@media (min-width:768px) {
    .header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .grid-container {
        width: 80%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 200px);
        grid-gap: 10px;
    }
    
    .grid-item {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        border-radius: 6px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    }

    .grid-item:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .img-product {
        width: 140px;
        height: 140px;
    }

    .grid-p {
        width: 60%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 10px;
    }

    .product-name, .product-shipping, .product-price {
        margin: 3px 0;
    }

    .product-price {
        color: var(--price-text-color);
    }
}

