/* Precios y descuentos */
$price-text-color:green;
$discount-text-color:lightblue;
$bg-primary-color: #0099ff;


/* Tamaños de pantalla */
$mobile: 480px;
$tablet:481px;
$destok: 988px;
$destok-large: 989px;