@use '../base/extends';

.contact-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
}

.dm {
    background-color: #f7f8fc;
}

.btn {
    @extend %button;
    margin: 0.5rem 0;
}