@use "../utilities/mixins" as m;
@use "../utilities/variables" as v;

.banner-promocional_ofertas {
    width: 100%;
    height: auto;
}

.img-promo-info {
    width: 19rem;
    height: 13rem;
}