div.col-xl-6:nth-child(1) {
    padding-left: 0px;
    padding-right: 0px;
}

.introduction-info {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    .profile-picture {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        padding: 1.0rem 1.0rem;
    }
}

.personal-info-container {
    margin-left: 1.0rem;
}

.payment-method-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .credit-card {
        display: flex;
        flex-direction: row;
        width: 34rem;
        height: 12rem;
        box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2);

        .credit-card_image {
            margin: 0 0.4rem;
            display: flex;
            align-items: center;

            .payment-method-image {
                width: 8rem;
                height: 8rem;
            }
        }

        .credit-card_p {
            width: 100%;
            margin-top: 0.8rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    .add-credit-card {
        .payment-method-i {
            transition: .3s;
        }

        .add-credit-card_p {
            transition: .3s;
        }

        &:hover {
            .payment-method-i {
                color: gray;
            }
    
            .add-credit-card_p {
                color: gray;
            }
        }
    }
}

.shopping-history-card {
    display: flex;
    flex-direction: column;
    padding: 0.2rem 0.6rem;
    box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2);

    .shopping-history-card__header {
        margin: 0 0.4rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .repurchase {
            text-decoration: none;
            color: black;
            transition: .3s;

            &:hover {
                color: gray;
            }
        }
    }

    .shopping-history-card__body {
        display: flex;
        flex-direction: row;
        .shopping-history-card__img {
            width: 12rem;
        }

        .shopping-history-card__p {
            .delivered {
                color: green;
            }

            .delivery-date {
                color: gray;
            }
        }
    }
}
