@use "typo" as t;
@use "../utilities/variables" as v;

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: t.$poppins, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.6rem;
    color: v.$black;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 3rem;
}

