@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

/* Fonts */
$font-family: 'Poppins', sans-serif;

@font-face {
    font-family: 'Sharp-sans';
    src: url(../font/samsungsharpsans.woff);
}

$sharp-sans-font: 'Sharp-sans';

@font-face {
    font-family: 'Sharp-sans-medium';
    src: url(../font/samsungsharpsans-medium.woff);
}

$sharp-sans-md-font: 'Sharp-sans-medium';

@font-face {
    font-family: 'Sharp-sans-bold';
    src: url(../font/samsungsharpsans-bold.woff);
}

$sharp-sans-b-font: 'Sharp-sans-bold'

